<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ContentVersion</key>
	<string>1.0</string>
	<key>Name</key>
	<string>ChapterOne</string>
	<key>Pages</key>
	<array>
		<string>01 Introduction.cutscenepage</string>
		<string>02 HereKitty.playgroundpage</string>
		<string>03 Functions.cutscenepage</string>
		<string>04 RightLeftRight.playgroundpage</string>
		<string>05 Airtime.playgroundpage</string>
		<string>06 Ticketing.playgroundpage</string>
		<string>07 Variables.cutscenepage</string>
		<string>08 LetsGetLoud.playgroundpage</string>
		<string>09 VroomVroom.playgroundpage</string>
		<string>10 DogRun.playgroundpage</string>
		<string>11 Accessibility.playgroundpage</string>
		<string>12 Victory.cutscenepage</string>
		<string>13 Recap.playgroundpage</string>
	</array>
</dict>
</plist>
